 {% extends "base.html" %}
 {% block start %}
 <h1>Vikash Kumar Singh</h1>
<a href="/contact/">
    contact
</a>
<br>
<a href="/about/">
    about
</a>
<br><br>
    {{peoples}}

    <table>
  <tr>
    <th>S.no</th>
    <th>Name</th>
    <th>Age</th>
    <th>Can Vote</th>
  </tr>
  {%for people in peoples%}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{people.name}}</td>
    <td>{{people.age}}</td>
    <td>
        {% if people.age >= 18 %}
        👍
        {% else %}
        👎
        {%endif%}
    </td>
  </tr>
  {% endfor %}

</table>
<p>{{text|truncatechars:30}}</p>  
<!-- truncatechars is used to show only texts numbers of which you want to show -->

<p>
    {% if  "mango" in fruits %}
    yes availabe
    {% else %}
    Not Availabe
    {% endif %}
</p>

{% endblock %}